{% extends 'base.html.twig' %}
{# Affiche les informations relatives à l'équipe '#}
{% block title %}
{{app.request.attributes.get('team')}}
{% endblock %}

{% block body %}
{{ encore_entry_link_tags('css/img') }}
{{ encore_entry_link_tags('css/div') }}
{{ encore_entry_link_tags('css/figure') }}
{{ encore_entry_link_tags('css/table') }}
{{ encore_entry_link_tags('css/p') }}

{% set i = 0 %}
<div class='css-team'>
	<div class="css-teamData">
		<div class="css-teamImage">
			<figure>
				<img src=" {{ asset('/image/logo/'~ app.request.attributes.get('categorie')~'/'~ team.logo)}}"
					alt='logo' height="256px" width="256px">
				<figcaption class='css-teamFigcaptionTrainer'>{{team.name}}</figcaption>
				<img src="{{asset('/image/trainer/'~ team.trainer ~'.jpeg')}}" alt='trainer' height="256px"
					width="240px">
				<figcaption class='css-teamFigcaptionTrainer'>{{team.trainer}}, entraîneur</figcaption>
			</figure>
		</div>
		<div class="css-teamDataDisplayout">
			<div class="css-teamDataDisplayin">
				<p class="css-pTeam">Nom du club :
					{{ team.name }}
				</p>
				<p class="css-pTeam">Surnom :
					{{ team.abbreviation }}
				</p>
			</div>
			<div class="css-teamStadium">
				<p class="css-pTeam">Nom du stade :
					{{ team.getInfrastructure().name}}
				</p>
				<p class="css-pTeam">Président :
					{{ team.getPresidentName() }}
				</p>
			</div>
		</div>
	</div>
	<table class='css-teamTable'>
		<caption class="css-teamCaption">
			Effectif
			{{ team.name }}
		</caption>
		<thead>
			<tr>
				<th class='css-teamTh'>Numéro</th>
				<th class='css-teamTh'>Nom</th>
				<th class='css-teamTh'>Prénom</th>
				<th class='css-teamTh'>Age</th>
				<th class='css-teamTh'>Nationalité</th>
				<th class='css-teamTh'>Poste</th>
			</tr>
		</thead>
		{% for player in players %}
		<tr>
			{% if i == 0 %}
			<td class="css-teamTd">{{ player.number }}</td>
			<td class="css-teamTd">{{ player.name }}</td>
			<td class="css-teamTd">{{ player.firstname }}</td>
			<td class="css-teamTd">{{ player.age }}</td>
			<td class="css-teamTd">
				<a title="{{ player.nationality }}"><img alt="{{ player.nationality }}"
						src="{{ asset('/image/flags/' ~player.nationality ~'.svg.png') }}" /></a>
			</td>
			<td class="css-teamTd">{{ player.position }}</td>
			{% set i = 1 %}
			{% else %}
			<td style="background-color:lightgrey;" class="css-teamTd">{{ player.number }}</td>
			<td style="background-color:lightgrey;" class="css-teamTd">{{ player.name }}</td>
			<td style="background-color:lightgrey;" class="css-teamTd">{{ player.firstname }}</td>
			<td style="background-color:lightgrey;" class="css-teamTd">{{ player.age }}</td>
			<td style="background-color:lightgrey;" class="css-teamTd">
				<a title="{{ player.nationality }}"><img alt="{{ player.nationality }}"
						src="{{ asset('/image/flags/' ~player.nationality ~'.svg.png') }}" /></a>
			</td>

			<td style="background-color:lightgrey;" class="css-teamTd">{{ player.position }}</td>
			{% set i = 0 %}
			{% endif %}
		</tr>
		{% endfor %}

	</table>
</div>
{% endblock %}