{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	{{ encore_entry_link_tags('css/div') }}
	{{ encore_entry_link_tags('css/label') }}
	{{ encore_entry_link_tags('css/input') }}
	{{ encore_entry_link_tags('css/button') }}


	<div class='css-loginTitle'>

		<h1>Connexion</h1>
	</div>

	<div class='css-login'>
		<div class='css-loginForm'>

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<form method="post">
				<div class='form-group'>
					<label for="inputUsername" class='css-loginLabel'>Nom d'utilisateur</label>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class='css-loginInput' required autofocus>
				</div>
				<div class='form-group'>
					<label for="inputPassword" class='css-loginLabel'>Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class='css-loginInput' required>
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div>
					<button class="btn btn-primary" type="submit">Connexion</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
