{% extends 'base.html.twig' %}


{% block title %}Accueil
{% endblock %}

{% block body %}
	{{ encore_entry_link_tags('css/div') }}
	{{ encore_entry_link_tags('css/span') }}
	{{ encore_entry_link_tags('css/title') }}
	{{ encore_entry_link_tags('css/p') }}
	{{ encore_entry_link_tags('css/link') }}
	{{ encore_entry_link_tags('css/table') }}

	<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

	<style>
		.css-homeDisplayDisconnected,
		.css-homeDisplayConnected {
			margin: 80px auto;
			text-align: center;
		}

		.css-meetingDisplayToday {
			margin: 40px auto;
		}
		.css-showMeetingsToday {
			display: inline-block;
			margin: 20px auto;
			padding: 40px;
			border: 4px solid;
			border-radius: 20px;
		}

		.homeDisplay-displayAll {
			background-color: darkslategrey;
			display: block;
			max-width: 800px;
			margin: 80px auto;
			border-style: solid;
			border-color: black;
			color: white;
			text-align: center;
		}

		.css-columnEvent {
			display: inline-block;
			vertical-align: top;
			margin: 40px auto;
			text-align: center;
			padding: 20px;
		}
	</style>

	{% if matchs|length is same as (0) %}
		<div class="css-homeDisplayDisconnected">
			<span>
				<h1>{{'Aujourd\'hui sur ' ~ app.request.attributes.get('city')}}</h1>
			</span>
			<div class="css-meetingDisplayToday">
				<span>
					<h4>Aucun événements aujourd'hui</h4>
				</span>
			</div>
		</div>
	{% elseif not app.user  or favoris|length is same as (0) %}
		<div class="css-homeDisplayDisconnected">
			<span>
				<h1>{{'Aujourd\'hui sur ' ~ app.request.attributes.get('city')}}</h1>
		</span>
		<div class="css-meetingDisplayToday">
			<span>
				<h4>Tous les événements sportifs</h4>
			</span>
			<div class="css-showMeetingsToday">
				{% for match in matchs %}
					<match>
						<div class="homeDisplay-displayAll">
							<h3 class='homeDisplay-titleh3'>{{ match.sport }},
								{{ match.competition }}</h3>
							<h4 class='homeDisplay-titleh4'>{{ match.getInfrastructure().name }}</h4>

							<table class='categoryDisplay-tableDisplayMeeting'>
								<tbody>
									<tr>
										<td class='categoryDisplay-tdDisplayMeeting'>
											<a href="{{ path('team' , {team : match.getTeamHome().abbreviation , city : app.request.attributes.get('city'),categorie : match.getTeamHome().sport }) }}">
												<img style="margin-right:20px" src="{{ asset('image/logo/'~ match.sport ~'/'~ match.getTeamHome().logo) }}" height="64" width="64"></a>
											{{ match.getTeamHome().name }}
											<a class="js-homefav {{match.getTeamHome().id}}" href="{{path('team_favorite',{'id' : match.getTeamHome().id}) }}">
												{% if app.user %}
													{% if match.getTeamHome().isFavoritedbyUser(app.user) %}
														<i id="{{'js-fav-id-'~match.getTeamHome().id}}" class="fas fa-star" style="color:yellow;"></i>
													{% else %}
														<i id="{{'js-fav-id-'~match.getTeamHome().id}}" class="far fa-star" style="color:yellow;"></i>
													{% endif %}
												{% endif %}
											</a>
										</td>
										<td class='categoryDisplay-tdDisplayMeeting'>
											<div class='categoryDisplay-dateDisplay'>{{ match.meeting|date("G:i") }}
											</div>
										</td>
										<td class='categoryDisplay-tdDisplayMeeting'>
											<a class="js-homefav {{match.getTeamOutside().id}}" href="{{path('team_favorite',{'id' : match.getTeamOutside().id}) }}">
												{% if app.user %}
													{% if match.getTeamOutside().isFavoritedbyUser(app.user) %}
														<i id="{{'js-fav-id-'~match.getTeamOutside().id}}" class="fas fa-star" style="color:yellow;"></i>
													{% else %}
														<i id="{{'js-fav-id-'~match.getTeamOutside().id}}" class="far fa-star" style="color:yellow;"></i>
													{% endif %}
												{% endif %}
											</a>
											{{ match.getTeamOutside().name }}
											<a href="{{ path('team' , {team : match.getTeamOutside().abbreviation , city : app.request.attributes.get('city'),categorie : match.getTeamOutside().sport }) }}">
												<img style="margin-left:20px" src="{{ asset('image/logo/'~ match.sport ~'/'~ match.getTeamOutside().logo) }}" height="64" width="64">
											</a>
										</td>
									</tr>
								</tbody>
							</table>
							<p>
								<a class='homeDisplay-link' href=" {{ path('map',{ city : match.city } ) }}">Aller à la carte</a>
							</p>
						</div>
					</match>
				{% endfor %}
			</div>
		</div>
	</div>
{% else %}
	<div id="fav" class="css-homeDisplayConnected">
		<span>
			<h1>{{'Aujourd\'hui sur ' ~ app.request.attributes.get('city')}}</h1>
			</span>
			<div class="css-meetingDisplayToday">
				<div class="css-columnEvent">
					<h4>Tous les événements</h4>
					<div class="css-showMeetingsToday">
						{% for match in matchs %}
							<match>
								<div class="homeDisplay-displayAll">
									<h3 class='homeDisplay-titleh3'>{{ match.sport }},
										{{ match.competition }}</h3>
									<h4 class='homeDisplay-titleh4'>{{ match.getInfrastructure().name }}</h4>

									<table class='categoryDisplay-tableDisplayMeeting'>
										<tbody>
											<tr>
												<td class='categoryDisplay-tdDisplayMeeting'>
													<a href="{{ path('team' , {team : match.getTeamHome().abbreviation , city : app.request.attributes.get('city'),categorie : match.getTeamHome().sport }) }}">
														<img style="margin-right:20px" src="{{ asset('image/logo/'~ match.sport ~'/'~ match.getTeamHome().logo) }}" height="64" width="64"></a>
													{{ match.getTeamHome().name }}
													<a class="js-homefav {{match.getTeamHome().id}}" href="{{path('team_favorite',{'id' : match.getTeamHome().id}) }}">
														{% if match.getTeamHome().isFavoritedbyUser(app.user) %}
															<i id="{{'js-fav-id-'~match.getTeamHome().id}}" class="fas fa-star" style="color:yellow;"></i>
														{% else %}
															<i id="{{'js-fav-id-'~match.getTeamHome().id}}" class="far fa-star" style="color:yellow;"></i>
														{% endif %}
													</a>

												</td>
												<td class='categoryDisplay-tdDisplayMeeting'>
													<div class='categoryDisplay-dateDisplay'>{{ match.meeting|date("G:i") }}
													</div>
												</td>
												<td class='categoryDisplay-tdDisplayMeeting'>
													<a class="js-homefav {{match.getTeamOutside().id}}" href="{{path('team_favorite',{'id' : match.getTeamOutside().id}) }}">
														{% if match.getTeamOutside().isFavoritedbyUser(app.user) %}
															<i id="{{'js-fav-id-'~match.getTeamOutside().id}}" class="fas fa-star" style="color:yellow;"></i>
														{% else %}
															<i id="{{'js-fav-id-'~match.getTeamOutside().id}}" class="far fa-star" style="color:yellow;"></i>
														{% endif %}
													</a>
													{{ match.getTeamOutside().name }}
													<a href="{{ path('team' , {team : match.getTeamOutside().abbreviation , city : app.request.attributes.get('city'),categorie : match.getTeamOutside().sport }) }}">
														<img style="margin-left:20px" src="{{ asset('image/logo/'~ match.sport ~'/'~ match.getTeamOutside().logo) }}" height="64" width="64">
													</a>
												</td>
											</tr>
										</tbody>
									</table>
									<p>
										<a class='homeDisplay-link' href=" {{ path('map',{ city : match.city } ) }}">Aller à la carte</a>
									</p>
								</div>
							</match>
						{% endfor %}
					</div>
				</div>
				<div class="css-columnEvent">
					<h4>Les favoris qui jouent</h4>
					<div class="css-showMeetingsToday">
						{% for fav in favoris %}
							<fav>
								<div class="homeDisplay-displayAll">
									<h3 class='homeDisplay-titleh3'>{{ fav.sport }},
										{{ fav.competition }}</h3>
									<h4 class='homeDisplay-titleh4'>{{ fav.getInfrastructure().name }}</h4>
									<table class='categoryDisplay-tableDisplayMeeting'>
										<tbody>
											<tr>
												<td class='categoryDisplay-tdDisplayMeeting'>
													<a href="{{ path('team' , {team : fav.getTeamHome().abbreviation , city : app.request.attributes.get('city'),categorie : fav.getTeamHome().sport }) }}">
														<img style="margin-right:20px" src="{{ asset('image/logo/'~ fav.sport ~'/'~ fav.getTeamHome().logo) }}" height="64" width="64"></a>
													{{ fav.getTeamHome().name }}
													<a class="js-homefav {{fav.getTeamHome().id}}" href="{{path('team_favorite',{'id' : fav.getTeamHome().id}) }}">
														{% if fav.getTeamHome().isFavoritedbyUser(app.user) %}
															<i id="{{'js-fav-id-'~fav.getTeamHome().id}}" class="fas fa-star" style="color:yellow;"></i>
														{% else %}
															<i id="{{'js-fav-id-'~fav.getTeamHome().id}}" class="far fa-star" style="color:yellow;"></i>
														{% endif %}
													</a>
												</td>
												<td class='categoryDisplay-tdDisplayMeeting'>
													<div class='categoryDisplay-dateDisplay'>{{ fav.meeting|date("G:i") }}
													</div>
												</td>
												<td class='categoryDisplay-tdDisplayMeeting'>
													<a class="js-homefav {{fav.getTeamOutside().id}}" href="{{path('team_favorite',{'id' : fav.getTeamOutside().id}) }}">
														{% if fav.getTeamOutside().isFavoritedbyUser(app.user) %}
															<i id="{{'js-fav-id-'~fav.getTeamOutside().id}}" class="fas fa-star" style="color:yellow;"></i>
														{% else %}
															<i id="{{'js-fav-id-'~fav.getTeamOutside().id}}" class="far fa-star" style="color:yellow;"></i>
														{% endif %}
													</a>
													{{ fav.getTeamOutside().name }}
													<a href="{{ path('team' , {team : fav.getTeamOutside().abbreviation , city : app.request.attributes.get('city'),categorie : fav.getTeamOutside().sport }) }}">
														<img style="margin-left:20px" src="{{ asset('image/logo/'~ fav.sport ~'/'~ fav.getTeamOutside().logo) }}" height="64" width="64">
													</a>
												</td>
											</tr>
										</tbody>
									</table>
									<p>
										<a class='homeDisplay-link' href=" {{ path('map',{ city : fav.city } ) }}">Aller à la carte</a>
									</p>
								</div>
							</fav>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	{% block javascript %}
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		{{ encore_entry_script_tags('js/favorite') }}
	{% endblock %}
{% endblock %}
