{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}

	{# {{ encore_entry_link_tags('css/input') }} #}
	{{ encore_entry_link_tags('css/img') }}
	{{ encore_entry_link_tags('css/test') }}

	<div class="profil">
		<img src="{{ asset( srcImage ) }}" class="profilPicture">
		{{ form_start(formProfil) }}

		<div class="div">
			{{ form_label(formProfil.firstname, 'Prénom', {'label_attr': {'class': 'label-profil'}}) }}
			{{ form_widget(formProfil.firstname, {'attr': {'class': 'input-profil'}}) }}
			{#<button type="submit" name= "editFirstName" value="editFirstName">
						           <img src = "{{ asset('image/squarePenEdit.png') }}" height = "16" width="16">
						        </button>#}

		</div>
		<div>
			{{ form_label(formProfil.name, 'Nom', {'label_attr': {'class': 'label-profil'}}) }}
			{{ form_widget(formProfil.name, {'attr': {'class': 'input-profil'}}) }}
			{#<button type="submit" name= "editFirstName" value="editFirstName">
						           <img src = "{{ asset('image/squarePenEdit.png') }}" height = "16" width="16">
						        </button>#}
		</div>

		<div class="form">
			{{ form_label(formProfil.email, 'Email',{'label_attr': {'class': 'label-profil'}}) }}
			{{ form_widget(formProfil.email, {'attr': {'class': 'input-profil'}}) }}
			{#<button type="submit" name= "editFirstName" value="editFirstName">
						           <img src = "{{ asset('image/squarePenEdit.png') }}" height = "16" width="16">
						        </button>#}
		</div>
		<div>

			{{ form_label(formProfil.phone, 'Téléphone',{'label_attr': {'class': 'label-profil'}}) }}
			{{ form_widget(formProfil.phone, {'attr': {'class': 'input-profil'}}) }}

			{#<button type="submit" name= "editFirstName" value="editFirstName">
						           <img src = "{{ asset('image/squarePenEdit.png') }}" height = "16" width="16">
						        </button>#}
		</div>

		<div class="form">
			{{ form_label(formProfil.notificationmail, 'Voulez-vous recevoir une notification par mail ?', {'label_attr': {'class': 'notification-profil'}}) }}
			{{ form_widget(formProfil.notificationmail, {'attr': {'class': 'checkbox-profil'}}) }}
		</div>
		<div>
			{{ form_label(formProfil.notificationsms, 'Voulez-vous recevoir une notification par sms ?', {'label_attr': {'class': 'notification-profil'}}) }}
			{{ form_widget(formProfil.notificationsms, {'attr': {'class': 'checkbox-profil'}}) }}
		</div>

		<div class="form">
			{{ form_widget(formProfil.image, {'attr': {'class': 'upload-profil'}}) }}
		</div>

		<div class="form">
			<button type="submit" name="modification" value="modification" class="modification-profil">Modifier
				<img class="extern" src="{{ asset('image/squarePenEdit.png') }}" height="16" width="16"></button>
		</div>

		{{ form_end(formProfil) }}

	</div>

{% endblock %}
