{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{{ encore_entry_link_tags('css/div') }}
	{{ encore_entry_link_tags('css/label') }}
	{{ encore_entry_link_tags('css/input') }}
	{{ encore_entry_link_tags('css/button') }}


	<div class='registry-displayRegistry'>
		{{ encore_entry_link_tags('css/div') }}
		<div class='registry-form'>
			<div class="form-group">
				{{ form_label(formRegistration.email, 'Email', {'label_attr': {'class': 'registry-label'}}) }}
				{{ form_widget(formRegistration.email, {'attr' : {'placeholder' : 'michel.dupont@example.com', 'class' : 'registry-input'}}) }}

			</div>

			<div>
				{{ form_label(formRegistration.username, 'Nom d\'utilisateur', {'label_attr': {'class': 'registry-label'}}) }}

				{{ form_widget(formRegistration.username, {'attr' : {'placeholder' : 'Mimi', 'class' : 'registry-input'}}) }}

			</div>

			<div class="form-group">
				{{ form_label(formRegistration.password, 'Mot de passe', {'label_attr': {'class': 'registry-label'}}) }}
				{{ form_widget(formRegistration.password, { 'attr' : {'placeholder' : 'Azerty123', 'class' : 'registry-input'}}) }}


			</div>

			<div class="form-group">
				{{ form_label(formRegistration.confirm_password, 'Confirmer mot de passe', {'label_attr': {'class': 'registry-label'}}) }}
				{{ form_widget(formRegistration.confirm_password, {'attr' : {'placeholder' : 'Azerty123', 'class' : 'registry-input'}}) }}

			</div>

			<div>
				<button type="submit" class="btn btn-primary">S'inscrire</button>
			</div>

			{{ form_end(formRegistration)}}

			</div>
		</div>
	{% endblock %}
