<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}{% endblock %}
		</title>


		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

			<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
			<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>


			<style type="text/css">
				#map {
					height: 800px;
				}
			</style>

		{% endblock %}
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="{{ path('home') }}">
				<img src="{{ asset('image/icon.ico') }}" height="64" width="64">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home') }}">Accueil
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Football</a>
							<a class="dropdown-item" href="#">Basket</a>
							<a class="dropdown-item" href="#">Tennis de Table</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=" {{ path('map') }}">Carte
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Informations
							<span class="sr-only">(current)</span>
						</a>
					</li>

					{% if not app.user  %}
						<li class="nav-item">
							<a class="nav-link" href=" {{ path('registry') }} ">Inscription<span class="sr-only">(current)</span>
							</a>
						</li>

						<li class="nav-item">
							<a href=" {{ path('app_login') }} " class="nav-link">Connexion</a>
						</li>

					{% else %}

						<li class="nav-item">
							<a class="nav-link" href=" {{ path('profil',{ username : app.user.username } ) }}">{{ app.user.username  }}</a>
						</li>


						<li class="nav-item">
							<a href=" {{ path('logout') }} " class="nav-link">Déconnexion</a>
						</li>

					{% endif %}
				</ul>
			</div>
		</body>
	</body>
</html></div></body></html></head></html></nav>{% block body %}{% endblock %}{% block javascripts %}{% endblock %}</body></html></body> </html>
